

.Container{
  text-align: center;
 background-color:rgba(109, 147, 106, 0.7);
  
}
.Btn{
  margin-left: 20px;
  border-radius: 20px;
  background-color: cadetblue;
  height: 50px;
}


.NewDiv{
  padding: 100px;
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}